

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#__next > main {
  display: grid;
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #dff0d8;
  overflow-x: hidden;
  text-align: center; 
  justify-content: space-between;
  padding-top: 10vh;
}

#__next > main > div.links a{
display: inline-block;
margin: 0;
  padding: 0;
  width: 100%;
}

#__next > main > div.dark-mode-toggle{
  text-align: center;  
  }

#__next > main.dark-mode{
  background-color: #424242 !important;
}


#__next > main a {
  padding: 16px;
  text-decoration: none;
  display: block;
  text-decoration: none;
  color: #1976d2;
}

main a:hover {
  background-color: #f57b00b0;
}

#container{
  margin-left: 200px;
  padding-left: 20px;
}

#Auth {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100px;
  margin-top: 10px;
}

#Auth > form{
display: flex;
flex-direction: column;
align-items: center;
}

.dark-mode {
  /* Add dark mode styles here */
  background-color: #424242;
  color: rgb(208, 208, 208);
}

#__next > main > header > header > h1{
  color: black;
}

#Auth > form > div.MuiFormControl-root.MuiTextField-root.css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
  background-color: rgba(255, 255, 255, 0.247);
}

#Auth > form > div.password-container > div{
  background-color: rgba(255, 255, 255, 0.247);
}

#about {
  margin-left: 200px;
  padding: 10%;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}


#tennis-form{

  display: inline;
}

#tennis-form{

  display: flex;
  justify-content: center;
align-items: center;
text-align: center;
}

#toms-image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  }

  
  #footer {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
  }

  #footer img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  #footer{
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 50px; /* or desired height */
      align-items: center;
      justify-content: center;
      display: flex;
  }